h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px 0px 0px 0px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
.main-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.title {
  font-weight: 500;
font-size: 20px; 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
img {
  display: block;

}
/* .........common...... */
.container {
  width: 1158px;
  margin: 0px auto;
  padding: 0px 15px;
}
/* ..............ШАПКА..................... */
/* =========HEADER=============== */

/* .............logo........................ */
.page-header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}
.header-conteiner {
  width: 1158px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header-nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
}


.header-logo-studio {
  color: #2e2f42;
}

.footer-logo-studio {
  color: #f4f4fd;
}


.header-nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42; 
  padding: 24px 0;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}


/* ...../контакты/........ */

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.header-contact-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ...../HOVER FOCUS/..................... */
.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
/* =========/HEADER=============== */


/* =========TOP BANER=============== */
/* ...........conteiner-top........... */
.conteiner-top {
  background: #2e2f42;
  padding: 188px 0;
  text-align: center;
}


.top-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
}

.top-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.top-button:hover,
.top-button:focus {
background-color: #404bbf;
/* =========/TOP BANER=============== */

/* =2========FEATURES=============2= */
}
/* .................БЛОК-2-features....................... */
.features {
  padding: 120px 0;

}

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.features-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.feature-item {
  width: calc((100% - 24px * 3) / 4);
}

.feature-title {
  margin-bottom: 8px;

}
/* =2========/FEATURES=============2= */


/* =3========Our Team=============3= */
/* .......................БЛОК_3-Our Team.......... */

.team-info {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-card-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.team-card-item {
background: #fff;
width: calc((100% - 72px) / 4);
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.conteiner-card-user {
  padding: 32px 0;
}

.team-card-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-card-prof {
  font-size: 16px;
  text-align: center;
}
/* .................portfolio............ */
.portfolio {
  padding: 120px 0;
}
.portfolio-title{
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;

}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-title {
  margin-bottom: 8px;
}
/*..................FOOTER................. */

.conteiner-footer{
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}